@import '../../style/variables';

html {
	.confirmation {
		h3 {
			font-family: $bebas;
			margin: auto;
		}

		.divider {
			width: 95%;
			max-width: 650px;
			border-top: 1px solid black;
		}

		button {
			@include buttonStyle;
		}
	}
}